<header id="error_page">
    <div class="row">
        <div class="medium-12 columns">
            <p class="err-msg">{{message}}</p>
            <p class="err-status">{{error.status}}</p>
            <pre class="err-stack">{{error.stack}}</pre>
        </div>
    </div>
</header>

